@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
} */

body {
  font-family: var(--font-inter);
}

.prose .code-block pre {
  background-color: unset;
  margin: 0;
  padding: 0;
}

.prose :where(p):not(:where([class~=not-prose], [class="not-prose"] *)) {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.prose :where(hr + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}
.prose :where(h2 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}
.prose :where(h3 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}
.prose :where(h4 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

code::before,
code::after {
  content: none !important;
}